
            div
            {
                width: 300px;
                height: 100px;
                background-color: yellow;
                -ms-transform: translate(50px,100px);
                transform: translate(50px,100px);

            }
            div#mydiv1{
                -ms-transform: rotate(-20deg);
                transform: rotate(-20deg);
            }
            div#mydiv2{
                -ms-transform: rotate(20deg);
                transform: rotate(20deg);
            }