
            div{
                width: 300px;
                height: 100px;
                background-color: yellow;
                border: 1px solid black;
            }
            #mydiv{
                transform: rotateX(150deg);
            }
            #mydiv1{
                transform: rotateY(150deg);
            }
            #mydiv2{
                transform: rotateZ(90deg);
            }
