.welcome{
    background-image: url(ladakh.jpg);
    background-size: contain;
    width:100%;
    height:35vh;
    margin: 0%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 65px;
}
.middle{
    width:100%;
    height:65vh;
}
.left{
    float:left;
    background-color:cyan;
    width:20%;
    height:65vh;
}
.right{
    float:left;
    width:20%;
    height:60vh;
    margin: auto;
    position: relative;
    animation-name:example;
    animation-duration:4s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}
.center{
    float:left;
    background-color: yellow;
    width:60%;
    height:60vh;
}
.bottom{
    float: right;
    background-color:silver;
    width:80%;
    height:5vh; 
}
.bottom-item{
    padding-right: 10px;
    float:left;

}

@keyframes example {
    0%{ left:0px;top:0px;}
    25%{left:1px;top:0px;}
    50%{left:1px;top:1px;}
    75%{left:0px;top:1px;}
    100%{left:0px;top:0px;}
}